#
# This config reproduces the OpenBMC flash layout defined in Linux :
#
#    arch/arm/boot/dts/openbmc-flash-layout.dtsi
#
# and included by aspeed-ast2500-evb.dts
#
flash nor-64M-256 {
	pebsize = 4K
	numpebs = 16K
	minimum-io-unit-size = 256
}

image nor.img {
	flash {
	}
	flashtype = "nor-64M-256"

        partition BOOT_SPI {
                offset = 0
                size = 512K
        }

        partition E {
                offset = 512K
                size = 256K
        }

        partition UENV {
                offset = 768K
                size = 256K
        }

        partition 0 {
		image = "boot.cramfs"
                offset = 1M
                size = 7M
        }

        partition 1 {
		image = "rootfs.cramfs"
                offset = 8M
                size = 32M
        }

        partition 2 {
                offset = 40M
                size = 8M
        }

        partition 3 {
                offset = 48M
                size = 15872K
        }

        partition B {
		image = "u-boot.bin"
                offset = 65024K
                size = 512K
        }
}
